.navigation {
  display: flex;
  align-self: center;
  gap: 5px;
  z-index: 1;

  @media (width > 800px) {
    flex-direction: column;
  }
}

.navigation__link {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 1000;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1px 5px;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  @media (width < 400px) {
    font-size: 1rem;
  }

  &:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }
}

.active {
  border: 3px solid var(--primary-color);
}
