.pokedex {
  padding: 20px;
  outline: 4px solid var(--primary-color);
  border: 2px solid var(--secondary-color);
}

.pokedex__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.pokedex__title {
  font-size: 1.4rem;
}

.pokedex__counter {
  font-size: 1.2rem;
}
