.main-header {
  height: 150px;
  background-image: url("/Pokemon-background.webp");
  background-position: bottom;
  border: 4px solid #1e3874;
  padding: 20px;
  align-content: center;
  position: relative;
}

.title {
  text-align: center;
  color: #ffcb05;
  font-size: 4rem;
  font-weight: 1000;
  letter-spacing: 4px;
  text-shadow:
    -3px -3px 0 #1e3874,
    3px -3px 0 #1e3874,
    -3px 3px 0 #1e3874,
    3px 3px 0 #1e3874;

  @media (width < 400px) {
    font-size: 3.2rem;
    text-shadow:
      -3px -3px 0 #1e3874,
      3px -3px 0 #1e3874,
      -3px 3px 0 #1e3874,
      3px 3px 0 #1e3874;
  }

  @media (width > 500px) {
    font-size: 5rem;
    text-shadow:
      -5px -5px 0 #1e3874,
      5px -5px 0 #1e3874,
      -5px 5px 0 #1e3874,
      5px 5px 0 #1e3874;
  }
}

.main-header__gif {
  position: absolute;
  bottom: 10px;
  animation-duration: 10s;
  animation-name: running;
  animation-iteration-count: infinite;
}

@keyframes running {
  0% {
    left: 5px;
  }

  100% {
    left: 92%;
  }
}
