.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
  background-image: url("/Pokemon-background.webp");
  background-position: bottom;
  outline: 4px solid var(--primary-color);
  border: 2px solid var(--secondary-color);

  @media (width > 800px) {
    height: 9.375rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 0;
  }
}

.title {
  text-align: center;
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 1000;
  letter-spacing: 4px;
  text-shadow:
    -3px -3px 0 var(--secondary-color),
    3px -3px 0 var(--secondary-color),
    -3px 3px 0 var(--secondary-color),
    3px 3px 0 var(--secondary-color);

  @media (width < 400px) {
    font-size: 3.2rem;
    text-shadow:
      -3px -3px 0 var(--secondary-color),
      3px -3px 0 var(--secondary-color),
      -3px 3px 0 var(--secondary-color),
      3px 3px 0 var(--secondary-color);
  }

  @media (width > 800px) {
    font-size: 5rem;
    text-shadow:
      -5px -5px 0 var(--secondary-color),
      5px -5px 0 var(--secondary-color),
      -5px 5px 0 var(--secondary-color),
      5px 5px 0 var(--secondary-color);
  }
}

.main-header__gif {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-name: running;
  animation-iteration-count: infinite;

  @media (prefers-reduced-motion) {
    display: none;
  }
}

@keyframes running {
  0% {
    left: 5px;
  }

  100% {
    left: 70%;
  }
}
